/* font files */
@font-face {
    font-family: "Jost";
    src: url(../assets/Jost-VariableFont_wght.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "Jost";
    src: url(../assets/Jost-SemiBold.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Jost";
    src: url(../assets/Jost-ThinItalic.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Jakarta Sans";
    src: url(../assets/PlusJakartaSans-Italic-VariableFont_wght.ttf);
    font-weight: 150;
}

:root {
 /* Primary palette */
 --signal-colour: #FFD200;
 --signal-colour-90: #FCD52D;
 --signal-colour-50:#ffe678 ;
 --primair-100: #000000;
 --primair-80: #1F1F1F;
 --primair-80-97: #262520;
 --primair-70: #3a3a3a;
 --primair-30: #D7D2CB;
 --primair-30-40: #E9E6E3;
 --primair-30-20: #F2F1F0;
 --primair-0: #fff;

 /* Supporting palette */
 --energetic-1: #FF671F;
 --energetic-2: #EE2737;
 --energetic-3: #A20067;

 --future-focussed-1: #C4B000;
 --future-focussed-2: #818C2D;
 --future-focussed-3: #154734;

 --independent-1: #40C1AC;
 --independent-2: #0094b3;
 --independent-3: #002C5F;

/* font palette */
 --primary-font: "Jost", sans-serif;
 --secundairy-font: "Jakarta sans", sans-serif;

--font-weight: 200;
--font-header: 400;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

header { 
    flex-direction: row;
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
}

body {
    background-color: var(--primair-0);
    color: var(--primair-100);
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    font-weight: var(--font-weight);
    overflow-x: hidden;

}

main {
    width: 100%;
}

button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
	color: inherit;
	font: inherit;
    padding: 0;
	outline: inherit;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 1.8em;
    font-weight: var(--font-header);
}

h2 {
    font-size: 2.2em;
    font-weight: var(--font-header);
    line-height: 1.3em;
}
h4 {
    font-size: 1.4em;
    font-weight: var(--font-header);
}
h5 {
    padding: 0 0 .4em 0;
    font-size: 1em;
}

p {
    font-size: 1em;
    font-weight: var(--font-weight);
}
/* styling nav */
.nav-header {
    background-color: var(--primair-80);
    display: flex;
    flex-direction: row;
    height: 3.5em;
    justify-content: end;
    gap: 2em;
}

.nav-branding img {
    height: 3.2em;
    margin: .1em 0 0 0em;

    display: flex;
    justify-content: start;
    align-items: start;

}

.hamburger {
    cursor: pointer;
    margin: .85em .8em 0 0;
}

.bar {
    background-color: var(--primair-0);
    display: block;
    height: 2.3px;
    margin: 4.2px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 22px;
}

.nav-menu {
    display: none;
}

/* Main styling | container 1*/
.container-1 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: 10em 0 0 0;
    z-index: 30;
}

.container-1-text {
    display: flex;
    flex-direction: column;
    width: 5em;
    margin: -10.6em 0 0 25em;
}

.container-1 h1 {
    margin: 2em 0 0 1em;
    min-width: 10ch;
    font-size: 2em;
    line-height: 1.2em;
    color: var(--primair-0);
}

.container-1 h2 {
    margin: .5em 0 0 1.4em;
    min-width: 10ch;
    font-size: 1.5em;
    line-height: 1.2em;
    color: var(--primair-0);
}

.container-1 img:nth-of-type(1) {
    width: 13em;
    margin: -7em 26.5em 0.5em 2em;
    transform: matrix(2, 0, -0.5, 2, 48, 0);
}

.container-1 img:nth-of-type(2) {
    display: none;
}

/* app links */
.container-1 a:nth-of-type(1) {
    margin: 1em 0 0.25em 2em;
}

.container-1 a:nth-of-type(2) {
    width: 7.5em;
    height: 2em;
    object-fit: contain;
    background-color: var(--primair-100);
    margin: 0 0 0 2em;
}

/* Main styling | container 2 */
.container-2 {
    display: flex;
    flex-direction: column;
    padding: 7em 0 0 0;
    align-items: center;
}

.container-2 h3 {
    max-width: 35ch;
    font-size: 1.4em;
    margin: 0 0 1em 0;
}

.container-2 p {
    display: flex;
    flex-direction: column;
    max-width: 28ch;
    text-align: justify;
    margin: 0 0 1em 0;
}

.container-2 ul {
    max-width: 28ch;
    margin: 0 0 1em 0;
    /* list-style-type: circle;
    list-style-position: inside; */
}

.container-2 h3:nth-of-type(2) {
    max-width: 18ch;
    text-align: center;
    line-height: 1.2em;
    margin: .5em 0 1.25em 0;
}

.container-2 a:nth-of-type(2) {
    width: 8.5em;
    height: 2em;
    object-fit: contain;
    background-color: var(--primair-100);
}

.container-2-app {
    display: flex;
    flex-direction: row;
    gap: .5em;
    margin: 0 0 2.5em 0;
}

/* slices styling */
.background-container-1 {
    display: block;
    width: 100%;
    height: 700px;

    margin: 0 auto;
    overflow: hidden;

    position: absolute;
}

.background-container-2 {
    display: block;
    width: 100%;
    height: 100%;

    margin: 0 auto;
    overflow: hidden;
    position: absolute;
}

.slice-1 { 
    background-color: var(--primair-70);
    width: 230px;
    height: 2800px;
    z-index: -9;

    transform: skew(-9deg);
    rotate: 90deg;

    position: absolute;
    top: -1140px;
}

.slice-2 {
    width: 0;
    height: 0;
    
    position: absolute;
    top: -138px;
    right: -1050px;

    z-index: -4;
    rotate: -30deg;

    border-top: 40px solid transparent;
    border-bottom: 542px solid transparent;
    border-right: 1150px solid var(--signal-colour);  
  }

.slice-3 { 
    background-color: var(--primair-80-97);
    width: 600px;
    height: 2500px;

    transform: skew(11deg);
    rotate: 90deg;
    z-index: -7;

    position: absolute;
    right: 150px;
    top: -1270px;
}

/* footer styling */
footer {
    background-color: var(--primair-80);
    color: var(--primair-0);
    font-size: .8em;
    font-weight: 200;
    line-height: 1.8em;

    z-index: 2;
}

footer a { 
    color: var(--primair-0);
}

footer nav {
    margin: 2.5em 0 0 1em;
}

nav ul {
    padding: 0 0 1.4em 0;
}

.app-download-3 li:nth-of-type(2) {
    width: 9.5em;
    height: 2.5em;
    object-fit: contain;
    background-color: var(--primair-100);
}

/* mediaquery */
@media (min-width:475px){
    .container-1 img:nth-of-type(1) {
        width: 14em;
        margin: -7em 30.5em 0.5em 2em;
        transform: matrix(2, 0, -0.5, 2, 106, 6);
    }
}

@media (min-width:600px) {
    .container-1 {
        height: 28em;
    }
    .container-1-text {
        width: 5em;
        margin: -2.6em 0 0 -6em;
    }
    
    .container-1 h1 {
        margin: 2em 0 0 1em;
        font-size: 2.3em;
    }
    
    .container-1 h2 {
        margin: .5em 0 0 1.4em;
    }
    
    .container-1 img:nth-of-type(1) {
        width: 18em;
        margin: 0 -2em -6.5em 14em;
        transform: matrix(2, 0, -0.5, 2, 0, 0);
    }
    
    .container-1 img:nth-of-type(2) {
        display: flex;
        width: 14em;
        margin: 0 0 4.5em -20em;
        transform: matrix(-2.3, 0, 0.5, 2.5, 0, 0);
    }

    /* app links */
    .container-1 a:nth-of-type(1) {
        margin: 1.25em 0 0.25em 2.5em;
    }

    .container-1 a:nth-of-type(2) {
        margin: 0.15em 0 0 2.5em;
    }

    /* container 2 */
    .container-2 {
        padding: 13em 0 0 0;
    }
    
    .container-2 h3 {
        max-width: 35ch;
        font-size: 1.8em;
        margin: 0 0 .75em 0;
    }
    
    .container-2 p {
        max-width: 48ch;
        text-align: justify;
        margin: 0 0 1em 0;
    }

    .container-2 ul {
        max-width: 48ch;
        margin: 0 0 1em 0;
    }
    
    .container-2 h3:nth-of-type(2) {
        max-width: 18ch;
        line-height: 1.2em;
        margin: .5em 0 .5em 0;
    }
    
    .container-2 a:nth-of-type(2) {
        width: 8.5em;
        height: 2em;
        object-fit: contain;
        background-color: var(--primair-100);
    }
    
    .container-2-app {
        gap: .75em;
        margin: 0 0 2.5em 0;
    }

    /* slices */
    .slice-1 { 
        background-color: var(--primair-70);
        width: 430px;
        height: 2800px;
        z-index: -9;

        transform: skew(-9deg);
        rotate: 90deg;

        position: absolute;
        top: -1075px;
    }

    .slice-2 {
        width: 0;
        height: 0;
        
        position: absolute;
        top: -104px;
        right: -900px;

        z-index: 0;
        rotate: -30deg;

        border-top: 40px solid transparent;
        border-bottom: 542px solid transparent;
        border-right: 1150px solid var(--signal-colour);  
      }

      .slice-3 { 
        background-color: var(--primair-80-97);
        width: 600px;
        height: 2500px;

        transform: skew(11deg);
        rotate: 90deg;
        z-index: -1;

        position: absolute;
        right: 150px;
        top: -1270px;
    }
}


@media (min-width:1000px) {
    .container-1 {
        height: 29em;
    }
    .container-1-text {
        width: 8em;
        margin: -18.6em 0 0 -6em;
    }
    
    .container-1 h1 {
        min-width: 11ch;
        margin: 2em 1em 0 0;
        font-size: 3.8em;
        color: var(--primair-0);
    }
    
    .container-1 h2 {
        min-width: 61ch;
        font-size: 1.8em;
        margin: .5em 0 0 .1em;
        color: var(--primair-0);
    }
    
    .container-1 img:nth-of-type(1) {
        width: 18em;
        margin: 0 -2em -1.5em 25em;
        transform: matrix(2, 0, -0.5, 2, 9, 0);
    }
    
    .container-1 img:nth-of-type(2) {
        width: 14em;
        margin: 0 0 11.5em -20em;
        transform: matrix(-2.3, 0, 0.5, 2.5, 5, 0);
    }

     /* app links */
    .container-1 a:nth-of-type(1) {
        margin: 1.25em 0 0.25em .1em;
    }
    
    .container-1 a:nth-of-type(2) {
        margin: 0.15em 0 0 .1em;
    }

    .container-2 {
        padding: 8em 0 0 0;
    }

    /* slices */
    .slice-1 { 
        background-color: var(--primair-70);
        width: 430px;
        height: 2800px;
        z-index: -9;

        transform: skew(-9deg);
        rotate: 90deg;

        position: absolute;
        top: -1165px;
    }

    .slice-2 {
        width: 0;
        height: 0;

        position: absolute;
        top: -97px;
        right: -685px;

        z-index: 0;
        rotate: -30deg;

        border-top: 40px solid transparent;
        border-bottom: 512px solid transparent;
        border-right: 1150px solid var(--signal-colour);  
      }

      .slice-3 { 
        background-color: var(--primair-80-97);
        width: 600px;
        height: 2500px;

        transform: skew(11deg);
        rotate: 90deg;
        z-index: -1;

        position: absolute;
        right: 150px;
        top: -1300px;
    }

    .slice-4 { 
        width: 0;
        height: 0;

        position: absolute;
        top: 53px;
        left: -577px;

        z-index: -2;
        rotate: -210deg;

        border-top: 40px solid transparent;
        border-bottom: 420px solid transparent;
        border-right: 1150px solid var(--signal-colour);
    }

    .slice-5 { 
        width: 0;
        height: 0;

        position: absolute;
        top: 100px;
        left: -390px;

        z-index: -7;
        rotate: 210deg;

        border-top: 40px solid transparent;
        border-bottom: 1520px solid transparent;
        border-right: 1250px solid var(--primair-30-40);
    }

    .slice-6 { 
        width: 0;
        height: 0;

        position: absolute;
        top: 100px;
        right: -340px;
        
        z-index: -17;
        rotate: 59deg;

        border-top: 40px solid transparent;
        border-bottom: 1520px solid transparent;
        border-right: 1250px solid var(--primair-30-20);
    }
}

@media (min-width:1153px) {
    /* slices */
    .container-1 img:nth-of-type(1) {
        margin: 0 -2em -1.5em 32em;
        transform: matrix(2, 0, -0.5, 2, 9, 0);
    }

    .slice-2 {
        width: 0;
        height: 0;

        position: absolute;
        top: -48px;
        right: -425px;

        z-index: 0;
        rotate: -30deg;

        border-top: 40px solid transparent;
        border-bottom: 512px solid transparent;
        border-right: 1150px solid var(--signal-colour);    
      }

    .slice-4 { 
        width: 0;
        height: 0;

        position: absolute;
        top: 53px;
        left: -560px;

        z-index: -2;
        rotate: -210deg;

        border-top: 40px solid transparent;
        border-bottom: 420px solid transparent;
        border-right: 1150px solid var(--signal-colour);
    }
}


